@import url('https://fonts.googleapis.com/css2?family=Kurale&family=Righteous&family=Ubuntu:wght@300&display=swap');

.picpi {
    color: #00a0eb;
    font-family: Righteous;
    font-size: 1.5em;
    margin-left: 10px;
}