body {
    background-color: #0076fe;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
    transition:ease all 0.5s;
}
.form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    display: inline-table;

}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 20px;
}

h2 {
    text-align: center;
}

form {
    margin: 10px 30px;
}

.labels{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}
.labels .radio{
    display: flex;
    justify-content: flex-start;
    width: 300px;

}
input, select {
    border-radius: 5px;
    width: 300px;
    height: 35px;
    border: none;
    padding: 3px;
    box-sizing: border-box;
}

input::placeholder {
    color: rgb(86, 87, 88);
}
input[type=submit] {
    background-color: #0076fe;
    border: 10px solid white;
    color: white;
    width: 250px;
    height: 50px;
    display: flex;
}